# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.env/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Environment Variables
.env

# Spark
metastore_db/

# Data
data/bronze/*
data/silver/*
data/gold/*