# ==================================================
# Python
# ==================================================
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# ==================================================
# Virtual Environment
# ==================================================
.venv/
venv/

# ==================================================
# Environment Variables
# ==================================================
.env

# ==================================================
# IDE
# ==================================================
.vscode/

# ==================================================
# macOS
# ==================================================
.DS_Store

# ==================================================
# Windows
# ==================================================
Thumbs.db

# ==================================================
# Jupyter
# ==================================================
.ipynb_checkpoints/

# ==================================================
# Logs
# ==================================================
*.log

# ==================================================
# Spark
# ==================================================
metastore_db/
spark-warehouse/

# ==================================================
# Generated Data (DO NOT COMMIT)
# ==================================================
data/bronze/
data/silver/
data/gold/
data/checkpoints/

# ==================================================
# Temporary files
# ==================================================
*.tmp
*.temp