# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Windows
# ==========================
Thumbs.db

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Spark
# ==========================
metastore_db/

# ==========================
# Generated Data
# ==========================
data/bronze/*
data/silver/*
data/gold/*